<div class="container-fluid bg-light left-menu">
    <ul>
        <li>
            <a href="/cemiterio"><i class="fa-solid fa-church"></i> Cemitério</a>
        </li>
        <li>
            <a href=""><i class="fa-solid fa-skull"></i> Falecido</a>
        </li>
        <li>
            <a href=""><i class="fa-solid fa-cross"></i> Sepultura</a>
        </li>
        <li>
            <a href=""><i class="fa-solid fa-diagram-project"></i> Sepultamento</a>
        </li>
        <li>
            <a href=""><i class="fa-solid fa-file-pdf"></i> Relatórios</a>
        </li>
    </ul>
</div>